/* styles.css */
.input-textbox {
  width: 400px;
  height: 40px;
}

/* styles.css */
/* styles.css */
#cardx {
  border-bottom-left-radius: 10% 50%;
  border-top-left-radius: 10% 50%;
  height: 460px;

}

#copyright {
  margin: 0px 250px;
  font-weight: 400;
}

#but {
  background: #0069D9;
  border: #0069D9;
  border-radius: 5px;
  color: white;
  text-align: center;
  width: 400px;
  height: 40px;
}

.nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 180px;
  height: 25px;
  float: right;
  text-align: center;
}

.switch {
  text-align: center;
  color: white;
  text-decoration: none;
}

.switch1 {
  text-align: center;
  color: #0062cc;
  border-radius: 25px;
  background-color: white;
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px 0px-1px;
}

.but1 {
  width: 130px;
  border-radius: 50px;
  border: none;
  height: 30px;
}
#regbut{
  background: #0069D9;
  border: none;
  border-radius: 30px;
  color: white;
  text-align: center;
  width: 150px;
  height: 40px;  
  
}
